<footer class="footer">
  <small>
    
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   '#' %></li>
      <li><%= link_to "Contact", '#' %></li>
      <li><a href="https://auto.ria.com">News</a></li>
    </ul>
  </nav>
</footer>
